.LogoHeader{
display: flex;
justify-content: center;
left: 1px;
top: 1px;
}
.Logo{
    font-size: 36px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
.navbar{
display: flex;
justify-content: center;
background: #FFC970;
padding-bottom: 30px;
}
.logolink{
   margin: 8px;
   text-decoration: none;
}