.container{
    display: flex;
    justify-content: space-between;
    
}
.productCard{
margin: 15px;
text-align: center;
}
.productImg{
  height: 150px;
  width: 150px;
}
.productDescrip{
   font-size: medium;
}
.productPrice{
   color: black;
   font-weight: bold
}
.pagination{
   display: flex;
 justify-content: center;
}