<h1 class="HomeTittle">Bienvenido a Shopeame</h1>
<div>
<h4 class="homeBold">¿Que es shopeame?</h4>
<p class="homeP">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem nobis voluptas cum. Esse consectetur doloribus sed
    vero ipsa, modi mollitia quo suscipit alias est quisquam aliquid voluptates odit nihil similique?Lorem ipsum dolor,
    sit amet consectetur adipisicing elit. Officiis quasi inventore quod ab repellat quos eius ullam? Recusandae
    deleniti cum minima, laborum quibusdam esse adipisci. Incidunt saepe doloribus dicta earum Lorem ipsum dolor, sit
    amet consectetur adipisicing elit. Cupiditate quisquam earum facilis itaque velit ut! Sit, at necessitatibus
    exercitationem quo recusandae temporibus quas officiis quibusdam unde architecto omnis, tempore doloremque.</p>
</div>
<div>
<h4 class="homeBold">¿Para que puedo usar shopeame?</h4>
<p class="homeP">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem nobis voluptas cum. Esse consectetur doloribus sed
    vero ipsa, modi mollitia quo suscipit alias est quisquam aliquid voluptates odit nihil similique?Lorem ipsum dolor,
    sit amet consectetur adipisicing elit. Officiis quasi inventore quod ab repellat quos eius ullam? Recusandae
    deleniti cum minima, laborum quibusdam esse adipisci. Incidunt saepe doloribus dicta earum Lorem ipsum dolor, sit
    amet consectetur adipisicing elit. Cupiditate quisquam earum facilis itaque velit ut! Sit, at necessitatibus
    exercitationem quo recusandae temporibus quas officiis quibusdam unde architecto omnis, tempore doloremque.</p>
</div>
<div>
<h4 class="homeBold">¿Quienes hacemos en shopeame?</h4>
<p class="homeP">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem nobis voluptas cum. Esse consectetur doloribus sed
    vero ipsa, modi mollitia quo suscipit alias est quisquam aliquid voluptates odit nihil similique?Lorem ipsum dolor,
    sit amet consectetur adipisicing elit. Officiis quasi inventore quod ab repellat quos eius ullam? Recusandae
    deleniti cum minima, laborum quibusdam esse adipisci. Incidunt saepe doloribus dicta earum Lorem ipsum dolor, sit
    amet consectetur adipisicing elit. Cupiditate quisquam earum facilis itaque velit ut! Sit, at necessitatibus
    exercitationem quo recusandae temporibus quas officiis quibusdam unde architecto omnis, tempore doloremque.</p>
</div>
<div>
<h4 class="homeBold">¿Es seguro usar shopeame?</h4>
<p class="homeP">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem nobis voluptas cum. Esse consectetur doloribus sed
    vero ipsa, modi mollitia quo suscipit alias est quisquam aliquid voluptates odit nihil similique?Lorem ipsum dolor,
    sit amet consectetur adipisicing elit. Officiis quasi inventore quod ab repellat quos eius ullam? Recusandae
    deleniti cum minima, laborum quibusdam esse adipisci. Incidunt saepe doloribus dicta earum Lorem ipsum dolor, sit
    amet consectetur adipisicing elit. Cupiditate quisquam earum facilis itaque velit ut! Sit, at necessitatibus
    exercitationem quo recusandae temporibus quas officiis quibusdam unde architecto omnis, tempore doloremque.</p>
</div>

<app-footer></app-footer>